
h1 {
    color: rgb(0, 0, 0);
}

h2 {
    color: coral;
}

#preco {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#preco2 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#preco3 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#preco4{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 #preco5 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#preco:hover {
    color: white;
}

#preco2:hover {
    color: white;
}

#preco3:hover {
    color: white;
}

#preco4:hover {
    color: white;
}

#preco5:hover {
    color: white;
}

.botao:hover {
    margin-left: 500px;
}

.botao {
    background-color: green;
    border: none;
    color: white;
}